{% extends "core/base.html" %}
{% load static %}
{% block title %}Contact Us{% endblock title %}

{% block maincontent %}
<section class="bg-gradient-to-b from-orange-100 via-orange-50 to-white">
    <div class="container mx-auto px-6 py-12 text-center">
        <div class="shadow-md p-8">
            <h2 class="text-2xl font-bold text-gray-800 mb-4">Our Location</h2>
            <p class="text-gray-600"><strong>Address:</strong><br>
            Khana Pina Restaurant<br>Nigar Plaza,Rajlokkhi<br>Dhaka-1230<br>Bangladesh</p>
            <h2 class="text-2xl font-bold text-gray-800 mt-8 mb-4">Contact Information</h2>
            <p class="text-gray-600">
                <strong>Phone:</strong>01670267006,01911105008<br>
                <strong>Email:</strong>ratanhalder60@gmail.com
            </p>
            
            <h2 class="text-2xl font-bold text-gray-800 mt-8 mb-4">Opening Hours</h2>
            <p class="text-gray-600">
                <strong>Monday - Friday:</strong>10:10 AM - 11:00 PM
            </p>
        </div>
        
    </div>
</section>
{% endblock maincontent %}

